header
    margin: 0
    padding: 1.5rem
    position: fixed
    width: 100%
    align-items: flex-start

    img
        height: 1.375rem
        margin-right: 1rem

    h1
        font-size: 1rem
        font-weight: 500
        padding: 0
        margin: 0
        color: #1f1f1f
        line-height: 1

    &#scroll0
        background-color: #ffffff

    &#scrollon
        background-color: #f0faff

footer
    padding: 1rem
    background-color: #f0faff
    margin-top: 1rem