<!DOCTYPE html>
<html>

<head>
<meta charset=utf-8">
<title>ページ名-松江中高学生聯合会 公式ホームページ</title>
<link href="/matsue-chuko/css/style.css" rel="stylesheet">
<style>
/*カスタムCSS*/
</style>
</head>

<body>
<header>
<h1><a href="/matsue-chuko"><img src="https://ton.twitter.com/i/ton/data/dm/1275009895914328068/1275009891644477444/7Ngl1Z00.jpg:small" width=40px>松江中高学生聯合会</a></h1>
</header>
<!--内容--!>
<footer>
<p><a href="/matsue-chuko/joinus">参加する</a></p>
<p>©2020&nbsp;松江中高学生聯合会理事委員会</p>
</footer>
</body>

</html>
